body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fbbd3c;
    text-align: center;
    border: 10px black;
}

#title {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 48px;
}

.chicken-title {
    font-size: 24px;
}

.shrimp-title {
    font-size: 24px;
}

.smash-title {
    font-size: 24px;
}

img {
    border-radius: 75px;
}